@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/image/foody-logo-dienmay-final-635947786757262452.jpg" class="img-thumbnail" alt="Cinque Terre">
</div>
<div>
    <div class="col-md-4">
        <h2>Mua điện máy - Đến điện máy xanh</h2>
    </div>
</div>